# Java & Maven Build Output
target/
*.class
*.jar
*.war
*.ear
dependency-reduced-pom.xml

# Local Database & Buffer Storage State
central-station/data/
weather-station/data/
data/
*.bin
*.crc
station_*.txt

# IDEs & Text Editor Configs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.code-workspace
.DS_Store

# Logs
*.log